/* Variables */

:root {
    --black: #000000;
    --gray1: #181818;
    --gray2: #dad7d6;
    --gray3: #e2e0df;
    --white: #ffffff;
    --blue: #26539e;
    --yellow: #eec12e;
    --red: #e87769;
}