/* Default styles - small devices (Mobile, screen width < 768px) */

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
    font-size: 3.5rem;
}
.barlow {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
}
.barlowC {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
}