/* Default styles - small devices (Mobile, screen width < 768px) */

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
    font-size: 1.125rem;
    font-family: "Barlow", sans-serif;
}

h2 {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 3rem;
}
.barlow {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
}
.barlowC {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
}

section.h-gray .heading {
    background-color: var(--gray2);
}
section.h-yellow .heading {
    background-color: var(--yellow);
}
.btn.btn-outline {
    border: 4px solid var(--blue);
    border-radius: 0;
    color: #ffffff;
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    font-size: .875rem;
    width: fit-content;
    transition: all .3s ease-in;
}
.btn.btn-outline:hover {
    border-color: var(--yellow);
    color: var(--yellow);
}
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.top-bar {
    background-color: var(--gray1);
}

.top-bar a {
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    font-size: 1rem;
}

.top-bar .top-item svg {
    width: 1.5rem;
}

/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
.nav-outer {
    background-color: var(--black);
}

.navbar-toggler {
    border: none;
}

#main-nav .active a {
    color: #ffffff;
}

#main-nav a {
    /* text-transform: uppercase; */
    color: #ffffff;
    font-weight: 400;
    transition: all .3s;
}
#main-nav .nav-item:hover a{
    color: var(--gray2);
}

/* #main-nav .nav-item {
    border-bottom: 1px solid var(--light);
} */
/* #main-nav .nav-item.active {

    background-color: var(--light);
} */
#main-nav .btn {
    font-size: 18px;
}

#main-nav .active .nav-link {
     color: var(--red);
}

#main-nav .btn {
    font-size: 18px;
}

.nav-outer .container {
    padding: 0;
}


.navbar ul {
    padding: 0;
}

    .navbar ul li, .site-logo-top, .navbar-toggler, .mobile-search-btn {
        padding-left: calc(var(--bs-gutter-x) * .5);
        padding-right: calc(var(--bs-gutter-x) * .5);
    }

        .navbar-nav .nav-item, .navbar ul li:first-child {
            padding: 1rem calc(var(--bs-gutter-x) * .5);
        }

        .navbar a {
            padding: 0;
        }
        .nav-contact-contain {
            padding: 0 calc(var(--bs-gutter-x) * .5);
        }

.nav-contact a, .nav-contact p {
    color: #ffffff;
    font-size: 1rem;
    text-decoration: none;

}

/* .top-bar {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    box-sizing: border-box;
} */

/* Collapse Button Mobile */
.animated-icon {
    cursor: pointer;
    height: 20px;
    margin: 0px;
    position: relative;
    width: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

    .animated-icon span {
        border-radius: 9px;
        display: block;
        height: 3px;
        position: absolute;
        left: 0;
        opacity: 1;
        width: 100%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .animated-icon span {
        background: #ffffff;
    }

        .animated-icon span:nth-child(1) {
            top: 0px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon span:nth-child(2) {
            top: 10px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon span:nth-child(3) {
            top: 20px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

    .animated-icon.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
    }

    .animated-icon.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .animated-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
    }

    #main-nav .logo-top {
        width: 15rem;
    }

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
/* .swiper {
    width: 600px;
    height: 300px;
  } */
  .hero {
    height: 30vh;
    overflow: hidden;
    position: relative;
}

.hero .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 2rem solid var(--gray2);
}


.hero-text-container {
    background-color: var(--black);
    width: 75vw;
    height: 75vw;
    border: 1rem solid var(--blue);
    border-radius: 50%;
    position: absolute;
    bottom: -20vw;
    padding: 15vw;
    right: -10vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    
}
.hero-text {
   
    display: flex;
    flex-direction: column;
    align-items: end;
}
.hero-text h2 {
    color: #ffffff;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: .25rem;
}


.swiper, .swiper-slide {
    width: 100%;
    height: 100%;
  }

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .card {
    border: none;
}
.services .card h3 {
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: 800;
}
.services .card h3 span {
    display: block;
    font-size: 3rem;
    font-weight: 300;
}

.services .cards .card-body {
    position: relative;
    transition: all .3s ease-in;
}

.services .cards .card-body svg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5rem;
   
}

.services .cards .col:nth-of-type(1) .card-body {
    background-color: var(--blue);
}

.services .cards .col:nth-of-type(2) .card-body {
    background-color: var(--yellow);
}

.services .cards .col:nth-of-type(3) .card-body {
    background-color: var(--red);
}
.services .cards .col a .card-body svg polyline  {
    transition: all .3s ease-in;
}


.services a.card {
    text-decoration: none;
}
.services a:hover {
    cursor: pointer;
}
.services .cards .col a:hover .card-body {
    background-color: var(--black);
}
.services .cards .col a:hover .card-body svg polyline {
    fill: var(--black)!important;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
section.about .gray-3 {
    background-color: var(--gray3);
}

/*--------------------------------------------------------------
# Our Approach
--------------------------------------------------------------*/
.our-approach .svg-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.our-approach .svg-text-container p {
    color: var(--yellow);
    position: absolute;
    font-size: 1.6rem;
    padding: 5rem;
    text-align: center;
    top: 30%;
    font-weight: 600;
}

.our-approach .dot-container .dot {
    width: .875rem;
    height: .875rem;
    margin: .5rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--red);
    border-radius: 50%;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .author-container {
    position: relative;
    display: inline-block; 
    
}
.testimonials .author-container img {
    display: block;
    /* width: 60%; */
}
.testimonials .author {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Center align text */
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-top: -1rem;
}
.testimonials .author p {
    margin-bottom: 0;
}
/*--------------------------------------------------------------
# Packages - homepage
--------------------------------------------------------------*/
.packages .btn.btn-white {
    padding: 1rem;
    background-color: #ffffff;
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
    border-radius: 0;
    transition: all .3s ease;
}
.packages img {
    width: 100%;
    object-fit: cover;
}
.packages .btn.btn-white:hover {
    background-color: var(--blue);
    color: var(--yellow);
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    background-color: var(--black);
    color: var(--white);
    font-size: .875rem;
}

#footer .social-logos a:hover svg g rect {
    fill: var(--gray3)!important;
}


    footer a span {
        color: var(--yellow);
    }

    footer .footer-title {
        color: var(--yellow);
        font-weight: 400;
    }



    footer a {
        color: var(--gray3);
        font-size: .875rem;
        text-decoration: none;
        font-weight: 400;
    }

        footer a:hover {
            /* text-decoration: underline; */
            color: var(--yellow);
        }

            footer a:hover span {
                color: var(--yellow);
            }


.footer-title {
    font-size: 1rem;
    /*font-weight: 500;*/
    margin-bottom: 20px;
    text-transform: uppercase;
}

footer ul li {
    margin-bottom: 10px;
    padding-left: 2.3rem;
    text-indent: -1.1rem;
}
footer .fa-angle-right path, footer .fa-angle-down path {
    fill: var(--yellow);
}
footer .fa-angle-right {
   height: 20px;
}
footer .fa-angle-down {
    width: 20px;
}
footer .fa-chevron-right {
    /*color: #ffffff;*/
    /*color: #ffffff;*/
    padding-right: 0.2rem;
}

.shfooter .collapse {
    display: inherit;
}

.shfooter i::before {
    color: var(--gray3);
}


.resize {
    text-align: center;
}

.resize {
    margin-top: 3rem;
    font-size: 1.25rem;
}

/* Social footer  */
footer .fa-brands {
    width: 7%;
}

footer .fab:before {
    font-size: 1.1rem;
}

.social-footer a:hover svg {
    /*color: var(--links); */
    animation: icons-rise 0.3s linear forwards;
}

#footer .social-logos svg {
   width: 30px;
   height: 30px;
   transition: all .3s;
}
#footer .social-logos svg g rect{
   
    transition: all .3s;
 }
#footer h4 {
    font-size: 1rem;
    margin-top: 2rem;
}
@keyframes icons-rise {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translate(2.5px, -2.5px);
    }
}

.social-footer a:hover {
    text-decoration: none;
}

    .social-footer a:hover span {
        text-decoration: underline;
    }

@keyframes arrow-right {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(3px);
    }
}



footer hr:not([size]) {
    height: 1px;
    color: var(--gray2);
    opacity: .4;
}

footer ul li {
    padding-left: 0;
    text-indent: 0;
    /* remove this if issue 616 617 */
    display: flex;
    align-items: center;
}
footer a {
    transition: all .3s ease-in;
}

footer .social-icons svg {
    width: 1.875rem;
}
footer .social-icons svg:hover g path:nth-of-type(1) {
    fill: var(--yellow)!important;
}
footer .social-icons svg:hover g path:nth-of-type(2), footer .social-icons svg:hover g path:nth-of-type(3) {
    fill: var(--black)!important;
}
footer .social-icons svg:hover g path {
    transition: all .3s ease-in;
}

footer .fa-chevron-right {
    display: none;
}

.footer-title {
    margin-bottom: 0;
}

.shfooter ul {
    margin-bottom: 0;
}

.shfooter .collapse {
    display: none;
}

    .shfooter .collapse.show {
        display: block;
    }

.shfooter .title .fa-angle-down,
.shfooter .title[aria-expanded=true] .fa-angle-right {
    display: none;
}

.shfooter .title[aria-expanded=true] .fa-angle-down {
    display: block;
}

.shfooter .navbar-toggler {
    display: inline-block;
    padding: 0;
}

.sub-footer {
    background-color: var(--black);
    color: var(--white);
}