/* Extra large devices (large desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  
    #main-nav .nav-div {
        width: 2px;
        height: 1rem;
        background-color: var(--yellow);
    }

     /* Footer - XLarge Devices */
footer, footer a {
    font-size: 1.125rem;
}
.shfooter .collapse {
    display: block;
    }
    footer .fa-chevron-right {
    display: inline-block;
    }
    footer ul li {
    margin-bottom: 10px;
    
    }
    footer ul li span {
        display: inline-block;
    }
    footer ul li a:hover span {
        animation: arrow-right 0.3s linear forwards; 
              
          }
      
      @keyframes arrow-right {
        from {
          transform: translateX(0px); }
        to {
          transform: translateX(2px); } 
          
      }
    
      #footer .footer-title {
        font-size: 1.5rem;
      }
      .footer-logo-desktop {
        margin-top: -1rem;
      }
}
        